.portfolio-cnt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10vw;
    column-gap: 5rem;
    background-color: rgb(17, 17, 17);
}

.portfolio-link {
    background-color: rgb(17, 17, 17);
    text-align: center;
    padding-bottom: 5rem;
}

.player-wrapper, .player-wrapper-estadio {
    position: relative;
    padding-top: 80%;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio-link a {
    background-color: white;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 800;
}

.portfolio-cnt img {
    max-width: 30rem;
    border-radius: 1rem;
}

.portfolio-card {
    background-color: rgb(32, 32, 32);
    margin: 5rem 0;
    padding: 2rem;
    border-radius: 1rem;
}

.portfolio-title p, .portfolio-title-mobile p {
    margin: 0;
    font-size: 1.8rem;
    color: rgb(156, 156, 156);
    font-weight: 300;
}

.portfolio-title h1, .portfolio-title-mobile h1 {
    color: white;
    font-weight: 500;
    margin-top: 15px;
    font-size: 3rem;
}

.portfolio-title, .portfolio-title-mobile {
    padding-top: 10rem;
}

.portfolio-card p {
    font-size: 1.2rem;
    color: rgb(156, 156, 156);
    font-weight: 300;
}

.portfolio-title strong, .portfolio-title-mobile strong {
    color: rgb(0, 207, 0);
}

.portfolio-card strong {
    color: rgb(0, 207, 0);
}

.portfolio-card a {
    background-color: rgb(0, 207, 0);
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    font-weight: 700;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 0.5rem;
}

.portfolio-card a img {
    max-width: 1.4rem;
}

.portfolio-title-mobile{
    display: none;
}

@media (max-width: 768px) {
    .portfolio-cnt {
        display: flex;
        overflow-x: auto;
        padding: 0;
        column-gap: 15rem;
    }
    .portfolio-title-mobile{
        display: block;
        padding-left: 3rem;
        max-width: 80%;
    }

    .portfolio-col {
        display: flex;
    }

    .portfolio-cnt img {
        max-width: 100%;
    }

    .portfolio-title {
        display: none;
    }

    .portfolio-card {
        margin: 1.3rem;
        min-width: 50%;
        height: fit-content;
    }

    .portfolio-link {
        padding-top: 2rem;
    }
}