.testimonios-cnt {
    background-color: rgb(17, 17, 17);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5vh 10vw;
    column-gap: 3rem;
    row-gap: 3rem;
}
.estadio h1{
    margin: 0;
    color: white;
    font-weight: 500;
    color: rgb(179, 179, 179);
    font-size: 1.2rem;
}
.estadio img{
    max-width: 2rem;
}
.estadio label{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 1.5rem ;
}

.testimonios-card img {
    max-width: 2.2rem;
    margin-right: 10px;
}

.testimonios-card {
    background-color: rgb(32, 32, 32);
    padding: 2rem 5rem;
    border-radius: 1rem;
}

.testimonios-card p {
    color: rgb(138, 138, 142);
    font-size: 1.4rem;
    font-weight: 300;
}
.estadio{
    grid-column: span 3 !important;
    max-width: 60%;
}

.user {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user img {
    max-width: 7rem !important;
    max-height: 5rem;
    border-radius: 1rem;
}

.clickable img{
    max-width: 7rem;
    max-height: 4rem;
    border-radius: 1rem;
    cursor: pointer;
}
.clickable{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 7vh;
    padding-left: 10vw;

}

.user p {
    font-size: 1rem;
    margin-top: 0;
}

.user h2 {
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}
.testimonios-title{
    padding: 7vh 0 0 10vw;
    max-width: 50%;
}

.testimonios-title p {
    color: rgb(138, 138, 142);
    font-size: 1.5rem;
}
.testimonios-title strong{
    color: rgb(0, 207, 0);
}
.testimonios-title h2{
    color: white;
    font-size: 3rem;
    margin-top: 0;
    font-weight: 500;
    line-height: 55px;
}
.stars{
    margin-bottom: 3rem;
}

#scroll{
    display: none;
}


@media (min-width: 1200px) and (max-width: 1700px){
    .testimonios-cnt{
        padding: 5vh 5vw;
    }
    .estadio{
        max-width: 80%;
    }
}

@media(max-width: 768px){
    

    #scroll{
        display: flex;
    }
    #scroll{
        max-width: 4rem;
        padding-left: 40%;
        padding-top: 1rem;
    }
   
    .testimonios-cnt{
        display: flex;
        align-items: center;
        overflow-x: auto;
    }
    .testimonios-title{
        max-width: 80%;
    }

    .testimonios-card p{
        font-size: 1.1rem;
    }
   
    .user img{
        max-width: 4rem !important;
    }
    .clickable img{
        max-width: 4rem;
    }
    .clickable{
        gap: 1rem;
    }
}