@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter';
  background-color: rgb(17, 17, 17);
  scroll-behavior: smooth;
  overflow-x: hidden;
}



a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}
.wp{
  position: fixed;
  width: fit-content;
  left: 90%;
  top: 90%;
}
.wp img{
  width: 3.5rem;
  cursor: pointer;
}

@media (max-width: 768px){
  .wp{
    left: 80%;
  }
  .wp img{
    width: 3rem;
  }
}